* {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    font-family: 'Mulish', sans-serif;
}

/* shared style */



/* nav-bar style start */
.img-title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 4.375rem 3.75rem 4.375rem;

}

.nav-bar>ul {
    display: flex;
    gap: 2.75rem;
}

.nav-bar li {
    list-style: none;
}

.nav-bar h2 {
    color: #131318;
    font-size: 2.25px;
    font-weight: 800;
}

.flow-style {
    color: #FF5400;

}

.nav-ul-style {
    color: #424247;
    font-size: 1.125px;
    font-weight: 400;

}

/* nav-bar style ended */

/* banner section start */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;

    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    position: relative;

}

.banner {
    display: flex;
    align-items: center;
}

.banner-description {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-title h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-title p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: .625rem;
    padding: .625rem 1.25rem .625rem 1.25rem;


}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.156rem;
    width: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1.875px;

}

.btn-section input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.option-style {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;

}

/* header section ended */
.popular-tour {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 4.375rem 3.75rem 4.375rem;
}

.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    ;
}

.popular-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

}

#tour-list {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-img {
    width: 100%;
    height: 100%;
    /* width: 540px;
    height: 550px; */
}

/* tour style ended */

/* destination style start */

.destination-title {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.destination-title h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}

.destination-title p {
    margin-top: 26px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;

}

.maldives-indonesia {
    display: flex;
    justify-content: space-around;

    position: relative;
}

.maldives-indonesia img {
    width: 100%;
    height: 100%;
    /* width: 573px;
    height: 300px; */

}

.maldives-title {
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 245px;
    top: 110px;

}

.indo-img-container {
    position: relative;
}

.indonesia-title {
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 245px;
    top: 110px;

}

.snk {
    margin-top: 20px;
}

.srilanka-img-container {
    position: relative;
}

.srilanka-title {
    position: absolute;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 130px;
    top: 110px;
}

.n-america-img-container {
    position: relative;
}

.n-america-title {
    position: absolute;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 130px;
    top: 110px;
}

.kasmir-img-container {
    position: relative;
}

.kashmir-title {
    position: absolute;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 80px;
    top: 110px;
}

.bd-bandarban {
    margin-top: 20px;
}

.bd-img-container {
    position: relative;
}

.bd-title {
    position: absolute;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 130px;
    top: 110px;
}

.bandarban-img-container {
    position: relative;
}

.bandarban-title {
    position: absolute;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 220px;
    top: 110px;
}

.snk {
    display: flex;
    justify-content: space-around;
}

.snk img {
    width: 100%;
}

.srilanka-img {
    width: 100%;
    height: 100%;
    /* width: 374px;
    height: 286px; */

}

.n-america-img {
    width: 100%;
    height: 100%;
    /* width: 474px;
    height: 286px; */
}

.kashmir-img {
    width: 100%;
    height: 100%;
    /* width: 274px;
    height: 286px; */
}

.bd-bandarban {
    display: flex;
    justify-content: space-around;
}

.bd-img {
    width: 100%;
    height: 100%;
    /* width: 473px;
    height: 300px; */

}

.bandarban-img {
    width: 100%;
    height: 100%;
    /* width: 673px;
    height: 300px; */

}

/* choose cart style start */

.choose-heading {
    text-align: center;
    margin-top: 100px;

}

.choose-heading h2 {
    color: #131318;
    font-size: 30px;
    font-weight: 800;

}

.choose-heading p {
    margin-top: 30px;
    padding: 15px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}

.hotel-map {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.hotel {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.hotel-map h2 {
    margin-top: 20px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel-map p {
    margin-top: 20px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.price-cart {

    max-width: 573px;
    text-align: center;
    margin: 0 auto;

    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* choose cart style ended */

/* perfect img part start */
.perfect-img {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.perfect-img h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.perfect-img p {
    margin-top: 15px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.perfect-img li {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}

.per-img-container {
    position: relative;
}

.per-img-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    left: 180px;
    top: 170px;
}


/* perfect img part ended */

/* newsletter style start */
.newsletter-and-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 50px;
}

.newsletter h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter p {
    margin-top: 20px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.newsletter hr {
    margin-top: 20px;
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;

}

.subscribr-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;

}

.discount-img {
    position: relative;
}

.discount {
    text-align: center;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    right: 8px;
    bottom: 50px;
}

.discount p {
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;

}

.discount h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;

}

/* main section style ended */

/* footer start */
.footer {
    margin-top: 100px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    position: relative;
}

.footer-div {
    padding: 50px;
    position: absolute;
    bottom: -1px;
    left: 100px;
    text-align: center;
}

.footer-img {
    display: flex;
    justify-content: center;
}

.footer-last {
    align-items: center;
}

hr {
    background: rgba(19, 19, 24, 0.10);
    margin-top: 100px;
}





/* responsive style start */
/* small device */
@media screen and (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar>ul {
        flex-direction: column;
        gap: 8px;
    }

    .banner-description {

        text-align: center;
        margin-top: 50px;
        margin-right: -100px;
    }

    .btn-section {
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }

    .popular-tour {
        flex-direction: column;
    }

    .tour-img {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    #img-collage img {
        width: 573px;
        height: 300px;
        /* width: 100%;
        height: 100%; */

    }

    .maldives-indonesia {
        flex-direction: column;
    }


    .snk {
        flex-direction: column;
    }


    .bd-bandarban {
        flex-direction: column;
    }

    .choose-heading {
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn-section {
        flex-direction: column;

    }

    .banner-description {
        position: absolute;
        right: 100px;
    }

    .hotel-map {
        flex-direction: column;
    }

    .perfect-img {

        flex-direction: column;
    }

    #per-img {
        margin-top: 20px;
    }

    .newsletter-and-img {
        flex-direction: column;
    }

    .newsletter {
        width: 335px;
        height: 353px;

    }

    .discount-img img {
        margin-top: 20px;
        width: 335px;
        height: 300px;

    }


}